In [1]:
import findspark

In [2]:
findspark.init('/home/gerardo-rodriguez/spark-4.0.0-bin-hadoop3')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/15 10:48:17 WARN Utils: Your hostname, Lanz-Lenovo, resolves to a loopback address: 127.0.1.1; using 192.168.1.145 instead (on interface wlp2s0)
25/08/15 10:48:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/15 10:48:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/15 10:48:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [32]:
df = spark.read.json('people.json')

In [33]:
df.show()

+---+------+
|age|  name|
+---+------+
| 35| Rahul|
| 46|Sachin|
+---+------+

In [34]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [35]:
df.columns

['age', 'name']

In [36]:
df.describe().show()

+-------+------------------+------+
|summary|               age|  name|
+-------+------------------+------+
|  count|                 2|     2|
|   mean|              40.5|  NULL|
| stddev|7.7781745930520225|  NULL|
|    min|                35| Rahul|
|    max|                46|Sachin|
+-------+------------------+------+

In [37]:
from pyspark.sql.types import (StructField, StringType, 
                                IntegerType, StructType)

In [38]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]

In [39]:
final_struct = StructType(fields=data_schema)

In [40]:
df = spark.read.json('people.json', schema=final_struct)

In [41]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [42]:
df.show()

+---+------+
|age|  name|
+---+------+
| 35| Rahul|
| 46|Sachin|
+---+------+

In [43]:
type(df['age'])

pyspark.sql.classic.column.Column

In [47]:
type(df.select('age'))

pyspark.sql.classic.dataframe.DataFrame

In [52]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [54]:
df.select(['age','name']).show()

+---+------+
|age|  name|
+---+------+
| 35| Rahul|
| 46|Sachin|
+---+------+

In [58]:
df.withColumn('double_age', df['age']*2).show()

+---+------+----------+
|age|  name|double_age|
+---+------+----------+
| 35| Rahul|        70|
| 46|Sachin|        92|
+---+------+----------+

In [60]:
df.show()

+---+------+
|age|  name|
+---+------+
| 35| Rahul|
| 46|Sachin|
+---+------+

In [62]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+------+
|my_new_age|  name|
+----------+------+
|        35| Rahul|
|        46|Sachin|
+----------+------+

In [63]:
df.createOrReplaceTempView('people')

In [64]:
results = spark.sql('select * from people')

In [66]:
results.show()

+---+------+
|age|  name|
+---+------+
| 35| Rahul|
| 46|Sachin|
+---+------+

In [67]:
new_results = spark.sql("select * from people where age=35")

In [68]:
new_results.show()

+---+-----+
|age| name|
+---+-----+
| 35|Rahul|
+---+-----+