In [2]:
import findspark

In [5]:
findspark.init('/home/gerardo-rodriguez/spark-4.0.0-bin-hadoop3')

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/15 10:28:31 WARN Utils: Your hostname, Lanz-Lenovo, resolves to a loopback address: 127.0.1.1; using 192.168.1.145 instead (on interface wlp2s0)
25/08/15 10:28:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/15 10:28:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [15]:
df = spark.read.json('people.json')

In [16]:
df.show()

+---+------+
|age|  name|
+---+------+
| 35| Rahul|
| 46|Sachin|
+---+------+

In [17]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df.columns

['age', 'name']

In [23]:
df.describe().show()

+-------+------------------+------+
|summary|               age|  name|
+-------+------------------+------+
|  count|                 2|     2|
|   mean|              40.5|  NULL|
| stddev|7.7781745930520225|  NULL|
|    min|                35| Rahul|
|    max|                46|Sachin|
+-------+------------------+------+

In [27]:
from pyspark.sql.types import (StructField, StringType, 
                                IntegerType, StructType)

In [28]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]

In [29]:
final_struct = StructType(fields=data_schema)

In [30]:
df = spark.read.json('people.json', schema=final_struct)

In [31]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)